<ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="#">ماركت</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">ماركت</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">ماركت</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">ماركت</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ماركت</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ماركت</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ماركت</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ماركت</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ماركت</a>
      </li>
   
  </ul>
