<nav class="justify-content-between align-content-center d-none d-lg-flex " >
    
    <ul class="list-info d-flex col-md-3 justify-content-between">
        <li>الشحن مجاني</li>
        <li>ارجاع السلع مجانا</li>
        <li>الدفع عند الاستلام</li>


    </ul>
    <ul class="list-links d-flex ">
        <li class="line-afrter"><a routerLink="/signUp">انشاء حساب</a></li>
        <li class="line-afrter"><a href="">صفقة اليوم</a></li>
        <li class="line-afrter"><a href="">خدمة العملاء</a></li>
        <li class="line-afrter"><a href="">ابدأ البيع</a></li>
        <li><a href="">تتبع مشترياتك</a></li>

    </ul>
</nav>
